<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.phoenix.dao.PermissionDao">
    <resultMap id="permissionMap" type="org.phoenix.bean.Permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>


    <select id="getById" parameterType="int" resultMap="permissionMap">
        SELECT * FROM permission WHERE ID=#{id}
    </select>

</mapper>