<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.phoenix.dao.UserDao">
    <resultMap id="userMap" type="org.phoenix.bean.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="userRoleMap" type="org.phoenix.bean.User_Role">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <sql id="queryCondition">
        <where>
            <if test="uid != null and uid != ''">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and name = #{name}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="keywords != null and keywords != ''">
                and name like CONCAT('%', #{keywords},'%')
            </if>
        </where>
    </sql>

    <select id="getByMap" parameterType="map" resultMap="userMap">
        SELECT * FROM user
        <include refid="queryCondition" />
    </select>

    <select id="getById" parameterType="int" resultMap="userMap">
        SELECT * FROM user WHERE id =#{id}
    </select>

    <select id="getByUserName" parameterType="String" resultMap="userMap">
        SELECT * FROM user WHERE name =#{name}
    </select>

    <insert id="create" parameterType="org.phoenix.bean.User">
        <!--<selectKey resultType="int"  order="AFTER" keyProperty="id" >-->
        <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        INSERT INTO user(
        name,
        password
        )VALUES(
        #{name},
        #{password}
        )
    </insert>

    <update id="update" parameterType="org.phoenix.bean.User">
        UPDATE user SET
        name = #{name},
        password = #{password}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id = #{uid}
    </delete>

    <select id="getRoles" parameterType="int" resultMap="userRoleMap">
        SELECT * FROM user_role WHERE USER_ID=#{id}
    </select>

</mapper>